body {
    margin: 0 auto;
    background-color: rgb(107, 107, 107);
    text-align: center;
}
h1 {
    color: rgb(241, 216, 233);
    font-family: sans-serif;
    margin: 0;
    text-align: center;
    background-color: rgb(46, 46, 46);
    line-height: 3rem;
    font-size: 1.25rem;
    text-decoration: none;
}
a {
    text-decoration: none;
}
img {
    max-width: 100%;
    margin: 0 auto;
}