body {
    margin: 50px;
    font-family: "Tahoma", sans-serif;
    font-optical-sizing: auto;
    font-weight: 65;
    font-style: normal;
    font-size: 1rem;
    color:rgb(41, 45, 45);
    background-color: rgb(168, 165, 147);
    text-align: center;
    list-style-position: inside;
}

main {
    padding: 50px;
    border: 80px double rgb(27, 100, 103);
    width: 80%;
    margin: 0 auto;
    text-align: center;
    line-height: 2rem;
}

strong {
    font-weight: 900;
}

i {
    font-style: italic;
}

a:link, a:visited, a:hover, a:active {
    color:rgb(27, 100, 103);
    font-weight: 300;
    font-style: italic;
}